/* reset css */

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

/******************************** área de variáveis ********************************/

:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-primary: #dc143c;
}

/******************************** fim área de variáveis ********************************/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
}

.header-page {
    width: 100%;
    height: 80px;
    display: flex;

    /* vertical  */
    align-items: center;

    /* horizontal  */
    justify-content: space-between;

    padding: 0 15px;

    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
}

.header-title {
    font-size: 40px;
    color: var(--color-light);
}

.logo {
    color: var(--color-primary);
}

.header-menu ul {
    list-style: none;
    display: flex;
}

.header-menu li {
    margin: 0 15px;
}

.header-menu a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.header-menu a:hover {
    color: var(--color-primary);
}

.container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/******************************* formatação hero *******************************/

.hero {
    color: var(--color-light);
}

.hero-title {
    margin: 30px 0;
}

.hero-text {
    width: 70%;
    text-align: center;
    margin: 30px 0 40px;
}

.btn {
    color: var(--color-light);
    text-decoration: none;
    border: 3px solid var(--color-primary);
    background-color: var(--color-primary);
    padding: 6px 25px;
    border-radius: 70px;
    font-weight: 800;
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-primary);
}

/******************************* fim formatação hero *******************************/

/******************************* formatação tech *******************************/

.tech {
    color: var(--color-light);
    flex-direction: row;
    justify-content: space-evenly;
}

.box-tech {
    width: 30%;
    min-height: 500px;
    border: 1px solid var(--color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.icon {
    font-size: 50px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 20px;
    border-radius: 50%;
    transition: .5s;
}

.icon:hover {
    transform: rotate(360deg);
}

.box-title {
    margin: 20px 0;
    font-size: 40px;
}

.box-text {
    margin: 20px 0 40px;
    
}

/******************************* fim formatação tech *******************************/

/******************************* solution ******************************/

.solution {
    color: var(--color-light);
}

.solution-title {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.solution-span {
    display: block;
}

.solution-span::after {
    content: 'Agronegócio';
    color: var(--color-primary);
    animation: solutions 5s infinite;

}

@keyframes solutions {

    25% {
        content: "Educação";
    }
    
    50% {
        content: "Segurança";
    }

    75% {
        content: "Saúde";
    }
} 

.solution-text {
    width: 60%;
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
}

/******************************* fim solution ******************************/

/****************************** classes mais específicas ******************************/

.bg-image-1{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(72, 9, 145, .479)),
    url(../images/pexels-negative-space-34140.jpg);
}

.bg-image-2{
    background-image: linear-gradient(to top, rgba(134, 19, 19, 0.8), rgba(0, 0, 0, 0)),
    url(../images/pexels-designecologist-1779487.jpg);
}

.bg-image-3{
    background-image: url(../images/pexels-miguel-á-padriñán-1591060.jpg);
}

.bg-color-1{
    background-color: var(--color-dark);
}

/****************************** fim classes mais específicas ******************************/